/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

html
  scroll-behavior smooth

.custom-block
  border-radius 10px

.nav-item
  font-size 1em
  border-radius 7px
  padding 5px 10px
  cursor pointer

.nav-item:hover
  background: #d6d6d6

.navbar
  padding .5rem 0
  height auto

.nav-links
  margin-top -0.17rem
