<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		:root {
			--c-bg: #fff;
		}

		html.dark {
			--c-bg: #1d1d1d;
		}

		html, body {
			background-color: var(--c-bg);
		}
	</style>
	<script>
	(function() {
		if (window.location.href.startsWith('http://localhost:')) return
		if (location.protocol !== 'https:') {
			location.replace(`https:${location.href.substring(location.protocol.length)}`);
		}
	}());
	// location.reload();

	</script>
	<script lang="javascript">
	(function() {
		var url = window.location.href;
		var lastPart = url.substr(url.lastIndexOf('#') + 1);

		if (lastPart === "reloaded") {
   		location.reload();
		}
	}());
</script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
	<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
</head>
<body>
	<div id="app"></div>
</body>
</html>
